

.form-inline select {
         border-radius: 6px 0 0 6px;
         margin-right: 0px;
         border-right-width: 0;
     }
    .form-inline input {
        border-radius: 0 6px 6px 0;
        border-left-width: 0;
        margin-left: 0px
    }